html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
.btn {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.hero__btn {
  grid-area: button;
  width: 45%;
  text-align: center;
  margin: 0 auto;
}
.hero__btn .btn {
  background-color: #ff1001;
  border-radius: 0.1rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.05rem 0;
  width: 100%;
}
.hero__btn .btn:hover {
  transition: all 400ms ease-in-out;
  background-color: white;
  color: #ff1001;
}
.cta__btn {
  width: 40%;
}
.cta__btn .btn {
  background-color: #ff4500;
  border-radius: 0.3rem;
  color: white;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.91rem 0;
  width: 100%;
}
.cta__btn .btn:hover {
  transition: all 400ms ease-in-out;
  background-color: white;
  color: #ff4500;
}
.navbar {
  border: 1px solid black;
  display: flex;
  position: relative;
  height: 5vh;
}
.navbar__list {
  display: flex;
}
.hero {
  background-size: cover;
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas: "logo" "title" "button";
  justify-content: center;
  align-items: center;
  height: 65vh;
  position: relative;
  opacity: 0.95;
  text-align: center;
}
.hero::before {
  background-image: url(../reddit_text.png);
  background-size: cover;
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  height: 65vh;
  opacity: 0.03;
  width: 100%;
  z-index: -1;
}
.hero__title {
  grid-area: title;
  font-weight: 900;
  font-size: 2.5rem;
  width: 90vw;
}
.hero__title span {
  color: #ff4500;
}
.hero__btn {
  grid-area: button;
}
.body__wrapper {
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas: "...title..." "...features..." "...cta..." "footer footer footer";
  position: relative;
}
.body__wrapper::before {
  box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  z-index: -1;
}
.body__wrapper::after {
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5%;
  z-index: -1;
}
.body__title {
  background-color: #ff4500;
  letter-spacing: 0.09ch;
  color: white;
  font-size: 1.2rem;
  grid-area: title;
  padding: 1.5rem 2rem;
  text-align: center;
}
.feature {
  grid-area: features;
}
.cta {
  font-size: 1.1rem;
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta p {
  margin-bottom: 1.3rem;
}
.cta p:nth-of-type(2) {
  font-size: 1.3rem;
}
.cta p:nth-of-type(3) {
  margin: 3rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-align: center;
  width: 90%;
}
.footer {
  grid-area: footer;
}
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "submit return" "save explore";
  margin: 0 4vw;
}
.feature .submit {
  grid-area: submit;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
}
.feature .return {
  font-size: 0.95rem;
  grid-area: return;
  background-color: #ff581a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 3px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.feature .save {
  grid-area: save;
  background-color: #ff7d4d;
  z-index: -3;
}
.feature .explore {
  grid-area: explore;
  background-color: #ff6a33;
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2), 3px 3px 4px rgba(0, 0, 0, 0.3);
  z-index: -2;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-color: black;
  color: white;
  height: 5vh;
}
.card {
  background-color: #ff4500;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: grid-start;
  align-items: center;
  height: 20vh;
  position: relative;
  text-align: center;
}
.card__icon {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 3vh 0 1vh;
  width: 100%;
}
.card__header {
  font-size: 1.5rem;
  letter-spacing: 0.12ch;
  margin-bottom: 2.5vh;
}
.card__header:nth-of-type(2) {
  margin: 0;
}
.card__content {
  margin-bottom: 10%;
  line-height: 2.5vh;
  padding: 0 3vw;
}
