html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
body::after {
  /*This adds a label in the top-left corner that displays the current media query state.*/
  background: red;
  color: white;
  content: "undefined";
  left: 0;
  padding: 0.5em 1em;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 99;
}
@media only screen and (max-width: 529px) {
  body::after {
    background: orange;
    content: "mobile";
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  body::after {
    background: purple;
    content: "tablet";
  }
}
@media only screen and (min-width: 950px) {
  body::after {
    background: green;
    content: "desktop";
  }
}
.btn {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.hero__btn {
  grid-area: button;
  width: 45%;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 950px) {
  .hero__btn {
    display: flex;
    display: inline-block;
    align-self: start;
    justify-self: end;
    background-color: red;
    margin: 0;
  }
}
.hero__btn .btn {
  background-color: #ff1001;
  border-radius: 0.1rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.05rem 0;
  width: 100%;
}
.hero__btn .btn:hover {
  transition: all 400ms ease-in-out;
  background-color: white;
  color: #ff1001;
}
.cta__btn {
  width: 40%;
}
.cta__btn .btn {
  background-color: #ff1001;
  border-radius: 0.1rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.05rem 0;
  width: 100%;
}
.cta__btn .btn:hover {
  transition: all 400ms ease-in-out;
  background-color: white;
  color: #ff1001;
}
@media only screen and (min-width: 950px) {
  .navbar {
    border-bottom: solid 5px white;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .navbar__list {
    display: flex;
  }
  .navbar__links {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5vw;
  }
}
.hero {
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas: "logo" "title" "button";
  justify-content: center;
  align-items: center;
  height: 65vh;
  position: relative;
  opacity: 0.95;
  text-align: center;
}
@media only screen and (min-width: 950px) {
  .hero {
    height: 100vh;
    grid-template-columns: 2fr 50% 1fr;
    grid-template-rows: 1fr 40% 40%;
    grid-template-areas: "... ... ..." "... title ..." "... button ...";
    justify-content: flex-end;
  }
}
.hero::before {
  background-image: url(../reddit_text.png);
  background-repeat: repeat;
  background-size: cover;
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  height: 65vh;
  opacity: 0.03;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 950px) {
  .hero::before {
    height: 100vh;
  }
}
.hero::after {
  visibility: hidden;
}
@media only screen and (min-width: 950px) {
  .hero::after {
    visibility: visible;
    content: "";
    width: 50%;
    height: 90vh;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, #ff4500 50%);
    position: absolute;
    bottom: 0;
  }
}
.hero__title {
  grid-area: title;
  font-weight: 900;
  font-size: 2.5rem;
  width: 90vw;
}
@media only screen and (min-width: 950px) {
  .hero__title {
    text-align: right;
    font-size: 4vw;
  }
  .hero__title::after,
  .hero__title::before {
    content: "";
    border-top: 5px solid #ff4500;
    position: absolute;
    bottom: 60vh;
    right: 0;
    width: 15%;
  }
  .hero__title::before {
    transform: rotate(90deg);
    right: 11vw;
    top: 39vh;
    width: 8%;
  }
}
.hero__title span {
  color: #ff4500;
}
.hero__btn {
  grid-area: button;
}
@media only screen and (min-width: 950px) {
  .logo--mobile {
    display: none;
  }
}
.logo--desktop {
  display: none;
}
@media only screen and (min-width: 950px) {
  .logo--desktop {
    display: inline-block;
    position: absolute;
    bottom: 0.05%;
    left: 0.05%;
    width: 30%;
    z-index: 950;
  }
}
.body__wrapper {
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 5% 90% 5%;
  grid-template-areas: "...title..." "...features..." "...cta..." "footer footer footer";
  position: relative;
}
@media only screen and (min-width: 950px) {
  .body__wrapper {
    grid-gap: 2rem;
    grid-template-columns: auto;
    grid-template-areas: "... ... title" "features features features" "features features features" "cta ... ..." "footer footer footer";
  }
}
.body__wrapper::before,
.body__wrapper::after {
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5%;
  z-index: -1;
}
@media only screen and (min-width: 950px) {
  .body__wrapper::before,
  .body__wrapper::after {
    content: none;
  }
}
.body__wrapper::after {
  box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
@media only screen and (min-width: 950px) {
  .body__wrapper::after {
    background-image: linear-gradient(to top right, white 45%, #ff4e0e 45%, #ff4e0e 75%, white 75%);
    box-shadow: none;
    content: "";
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -4;
  }
}
.body__title {
  grid-area: title;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.09ch;
}
@media only screen and (min-width: 950px) {
  .body__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    justify-self: end;
  }
}
.body__title h2 {
  background-color: #ff4500;
  color: white;
  padding: 1.5rem 2rem;
}
@media only screen and (min-width: 950px) {
  .body__title h2 {
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }
}
.body__title h3 {
  margin-top: 3vh;
  font-size: 1.4rem;
  line-height: 1.3rem;
  text-align: center;
}
.feature {
  grid-area: features;
}
.cta {
  font-size: 1.1rem;
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta p {
  margin-bottom: 1.3rem;
}
.cta p:nth-of-type(2) {
  font-size: 1.3rem;
}
.cta p:nth-of-type(3) {
  margin: 3rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-align: center;
  width: 90%;
}
@media only screen and (min-width: 950px) {
  .cta p:nth-of-type(3) {
    width: 85%;
  }
}
.footer {
  grid-area: footer;
}
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "submit return" "save explore";
  margin: 0 4vw;
}
@media only screen and (min-width: 950px) {
  .feature {
    grid-template-columns: 45% 1fr 45%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 85%;
    overflow: hidden;
    grid-template-areas: "submit ... ..." "return return..." "  ... save save " "  ... ... explore";
    justify-content: end;
    align-items: end;
    margin: 0 0 15vh 15vw;
    transform: rotate(10deg);
  }
  .feature .card {
    transform: rotate(-10deg);
  }
}
.feature h3 {
  grid-area: title;
}
.feature .submit {
  grid-area: submit;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 950px) {
  .feature .submit {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
  }
}
.feature .return {
  font-size: 0.95rem;
  grid-area: return;
  background-color: #ff581a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 3px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
@media only screen and (min-width: 950px) {
  .feature .return {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    justify-self: end;
    font-size: 1.3rem;
  }
}
.feature .save {
  grid-area: save;
  background-color: #ff7d4d;
  z-index: -3;
}
@media only screen and (min-width: 950px) {
  .feature .save {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    justify-self: start;
  }
}
.feature .explore {
  grid-area: explore;
  background-color: #ff6a33;
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2), 3px 3px 4px rgba(0, 0, 0, 0.3);
  z-index: -2;
  justify-self: start;
}
@media only screen and (min-width: 950px) {
  .feature .explore {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
    margin: 1vh 0 0 2vw;
  }
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-color: black;
  color: white;
  height: 5vh;
  position: abosolute;
  bottom: 0;
}
.card {
  background-color: #ff4500;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: grid-start;
  align-items: center;
  height: 20vh;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 950px) {
  .card {
    font-size: 1.3rem;
    width: 60%;
  }
}
.card__icon {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 3vh 0 1vh;
  width: 100%;
}
.card__header {
  letter-spacing: 0.12ch;
  margin-bottom: 2.5vh;
}
.card__header:nth-of-type(2) {
  margin: 0;
}
.card__content {
  margin-bottom: 10%;
  line-height: 2.5vh;
  padding: 0 3vw;
}
@media only screen and (min-width: 950px) {
  .card__content {
    padding: 0;
  }
}
