.card__wrapper {
  background-color: @reddit--orange;
}
.about__container {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
