.card {
  background-color: @reddit--orange;
  .flexing(column, center, center);
  height: 20vh;
  position: relative;

  &__icon {
    .flexing(row, center, center);
    display: inline-block;
    margin-bottom: 2vh;
    padding-top: 3vh;
    width: 100%;
  }

  &__header {
    margin-bottom: 2.5vh;
  }
}
