.body__wrapper {
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas:
    "...title..."
    "...features..."
    "...cta..."
    "footer footer footer";
  position: relative;
  @media @desktop {
    grid-template-columns: auto;
    grid-template-areas:
      "... ... title"
      "features features features"
      "features features features"
      "cta ... ..."
      "footer footer footer";
  }
  &::before,
  &::after {
    // background-color: red;
    box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5%;
    z-index: -1;
    @media @desktop {
      content: none;
    }
  }
  &::after {
    box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.2);
    right: 0;
    @media @desktop {
      background-image: linear-gradient(
        to top right,
        white 45%,
        @reddit--orange 45%,
        @reddit--orange 75%,
        white 75%
      );
      content: "";
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: -4;
    }
  }
}

.body__title {
  background-color: @reddit--orange;
  letter-spacing: 0.09ch;
  color: white;
  font-size: 1.2rem;
  grid-area: title;
  padding: 1.5rem 2rem;
  text-align: center;
}
.feature {
  grid-area: features;
}
.cta {
  font-size: 1.1rem;
  grid-area: cta;
  .flexing(column, center, center);

  & p {
    margin-bottom: 1.3rem;
  }
  & p:nth-of-type(2) {
    font-size: 1.3rem;
  }
  p:nth-of-type(3) {
    margin: 3rem 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    font-weight: 500;
    text-align: center;
    width: 90%;
  }
}
.footer {
  grid-area: footer;
}
.feature {
  display: grid;
  //   grid-gap: 0.2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "submit return"
    "save explore";
  margin: 0 4vw;
  @media @desktop {
    grid-template-columns: auto;
    grid-template-areas:
      "submit ... ... ..."
      "... return ... ..."
      "... ... save ..."
      "... ... ... explore";
    margin: 0;
  }

  .submit {
    grid-area: submit;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
  }
  .return {
    font-size: 0.95rem;
    grid-area: return;
    .bg_lighten(@reddit--orange, 5%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 3px 0px 4px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  .save {
    grid-area: save;
    .bg_lighten(@reddit--orange, 15%);
    z-index: -3;
  }
  .explore {
    grid-area: explore;
    .bg_lighten(@reddit--orange, 10%);
    box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2), 3px 3px 4px rgba(0, 0, 0, 0.3);
    z-index: -2;
  }
}
.footer {
  grid-area: footer;
  .flexing(row, center, center);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-color: black;
  color: white;
  height: 5vh;
}
