.body__wrapper {
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas:
    "...title..."
    "...features..."
    "...cta..."
    "footer footer footer";
  position: relative;
  @media @desktop {
    grid-gap: 2rem;
    grid-template-columns: auto;
    grid-template-areas:
      "... ... title"
      "features features features"
      "features features features"
      "cta ... ..."
      "footer footer footer";
  }
  //   creates the drop shadow gutters on mobile
  &::before,
  &::after {
    box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5%;
    z-index: -1;
    @media @desktop {
      content: none;
    }
  }
  &::after {
    box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);

    top: 0;
    left: 0;
    // changes into orange body stripe from top left on desktop view
    @media @desktop {
      background-image: linear-gradient(
        to top right,
        white 45%,
        #ff4e0e 45%,
        #ff4e0e 75%,
        white 75%
      );
      box-shadow: none;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: -4;
    }
  }
}

.body__title {
  grid-area: title;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.09ch;
  @media @desktop {
    .flexing(column, flex-end, center);
    width: 60%;
    justify-self: end;
  }
  & h2 {
    background-color: @reddit--orange;
    color: white;
    padding: 1.5rem 2rem;
    @media @desktop {
      background-color: rgba(0, 0, 0, 0);
      color: black;
    }
  }
  & h3 {
    margin-top: 3vh;
    width: 70%;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: center;
  }
}
.feature {
  grid-area: features;
}
.cta {
  font-size: 1.1rem;
  grid-area: cta;
  .flexing(column, center, center);

  & p {
    margin-bottom: 1.3rem;
  }
  & p:nth-of-type(2) {
    font-size: 1.3rem;
  }
  p:nth-of-type(3) {
    margin: 3rem 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    font-weight: 500;
    text-align: center;
    width: 90%;
  }
}
.footer {
  grid-area: footer;
}
.feature {
  display: grid;
  //   grid-gap: 0.2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title title"
    "submit return"
    "save explore";
  margin: 0 4vw;
  @media @desktop {
    grid-template-columns: 45% 1fr 45%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    // position: absolute;
    // height: 100vh;
    width: 85%;
    grid-template-areas:
      "submit ... ..."
      "return return..."
      "  ... save save "
      "  ... ... explore";
    justify-content: end;
    align-items: end;
    margin: 0 0 15vh 15vw;
    // & * {
    //   //   .shadow_reset();
    //   //   position: absolute;
    // }
  }
  & h3 {
    grid-area: title;
  }
  .submit {
    grid-area: submit;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
    @media @desktop {
      .shadow_reset();
      justify-self: center;
    }
  }
  .return {
    font-size: 0.95rem;
    grid-area: return;
    .bg_lighten(@reddit--orange, 5%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 3px 0px 4px rgba(0, 0, 0, 0.3);
    z-index: -1;
    @media @desktop {
      .shadow_reset();
      justify-self: end;
      font-size: 1.3rem;
    }
  }
  .save {
    grid-area: save;
    .bg_lighten(@reddit--orange, 15%);
    z-index: -3;
    @media @desktop {
      .shadow_reset();
      justify-self: start;
    }
  }
  .explore {
    grid-area: explore;
    .bg_lighten(@reddit--orange, 10%);
    box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2), 3px 3px 4px rgba(0, 0, 0, 0.3);
    z-index: -2;
    justify-self: start;
    @media @desktop {
      .shadow_reset();
      justify-self: center;
      margin: 1vh 0 0 2vw;
    }
  }
}
.footer {
  grid-area: footer;
  .flexing(row, center, center);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-color: black;
  color: white;
  height: 5vh;
  position: abosolute;
  bottom: 0;
}
